*{
    box-sizing: border-box;

}
html{
    font-size: 15px;
}
body{
    background-color: black;
    color: #Fff;
}
header{
    text-align: center;
    width: 100%;
}
.images{
    width: 50%;
    margin: auto;
    text-align: center;
}
img{
    width: 100%;
    border: 5px solid #fff;
    
}
.information{
   padding: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.box{
    width: 45%;
}
 h2{
    font-size: 3rem;
}

@media (max-width:800px){
    .box{
        width: 80%;
        margin: auto;
    }
}