$pricol:#6cc091;
$white:#fff;

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
@mixin flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@mixin inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3% ;
}
html{
    font-size: 15px;
}
body,html{
    height: 100%;
}
#toggle{
    display: none;
    border: 1px solid $white;
    padding: 5px;
    width: 50px;
    background-color: transparent;
    .fa{
        font-size: 2rem;
        color: $white;
    }
}
// header start
header{
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #585867;
    background-image: url('../images/banner.jpg') ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    

    
    hr{
        width: 90%;
        margin: 0 auto;
        height: 1px;
    }

}
nav{
    @include flex;
    @include inner;
    .logo{
        font-size: 1.5rem;
    }
    .nav{
        list-style: none;
        display: flex;
    }
    li{
        margin-left: 1.3rem;
    }
    a{
        color: #fff;
        text-decoration: none;
        font-size: 1.1rem;
    }
}
.banner-text{
    height: 100%;
    text-align: center;
    margin-top: 20%;

    h1{
        width: 100%;
        text-align: center;
        font-size: 4rem;
    }
    .three-box{
        @include flex;
        @include inner;
        text-align: center;
        width: 100%;
        padding: 40px 0;
    }
    .box{
        width: 30%;
        .fa{
            color: $pricol;
            font-size: 2rem;
        }
        h3{
            font-size: 2rem;
            margin: 7px;
        }
        p{
            font-size: 1rem;
        }
    }
    .border{
        border-left: 1px solid gray;
        border-right: 1px solid gray ;
    }
}
.button{
    width: 50%;
    max-width: 180px;
    border: 1px solid $pricol;
    border-radius: 20px;
    background-color: transparent;
    color: $pricol;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px;
    font-weight: 200;
}

// two box starts
.two-box{
    @include flex;
    @include inner;
    justify-content: center;
    text-align: center;
    .box{
        width: 40%;
    }
    img{
        width: 40%;
        border-radius: 100%;
    }
    h3{
        font-size: 2rem;
        font-weight: 300;
    }
    p{
        font-size: 1rem;
        padding: 20px;
        line-height: 1.4;
        color: gray;
    }

}

footer{
    width: 100%;
    background-color: $pricol;
    color: $white
}
.footer-inner{
    @include inner;
    h2{
        text-align: center;
        font-size: 2rem;
    }
    form{
        @include flex;
        .label{
            width: 48%;
        }
        input{
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            background-color: transparent;
            border: 1px solid $white;
        }
        textarea{
            width: 100%;
            border-radius: 20px;
            padding: 20px;
            width: 100%;
            height: 200px;
            border: 1px solid $white;
            
            background-color: transparent;
        }
        input::placeholder, textarea::placeholder{
            color: #fafafa;
            
        }
        .button{
            color: $white;
            background-color: transparent;
            border-color: $white
        }
        p{
            margin: 10px;
            font-size: 1.2rem;
        }
        .button{
            margin: 20px auto;
        }
    
    }
    .center{
        text-align: center;
    }
    
}

@media (max-width:900px){
    html{
        font-size: 12px;
    }
    header{
        height: 700px;
        .banner-text{
            margin-top: 30px;
           
           
            .box{
                width: 100%;
                margin: 10px auto;
                
            }
    
        }

    }
    .two-box{
        .box{
            width: 100%;
            margin: 30px ;
        }
        
    }
}
@media (max-width:600px){
    html{
        font-size: 10px;
    }
    #toggle{
        display: block;
    }
    header #nav .nav{
        position: absolute;
        left: 0;
        top: 65px;
        display: none;
        width: 100%;
        
        
        li{
            width: 100%;
            padding: 5px 0;
            margin: 0;
            background-color: black;   
            text-align: center; 

        }
        a{
            font-size:1.5rem;
        }
    }
}