*{
		margin:0;
		padding:0;
		box-sizing:border-box;
}
html{
		font-size:15px;
}

.flexbox{
		display :flex;
		justify-content:space-between;
		flex-wrap: wrap;
}
/* nav starts */
nav{
    background-color: black;
    color: #fff;
    
}
.logo{
    padding: 15px;
}
.logo span{
    color: lightgray;
}
ul{
    list-style-type: none;
    display: flex;
    padding: 15px;
}
a{
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
}
#toggle{
		display:none;
		font-size: 20px;
		padding: 15px;
}
.colours{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.inner{
    max-width: 1000px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
.button{
    background-color:#ff0080 ;
    width: 150px ;
    border: 0;
    height: 35px;
    font-size: 1.2rem;
    margin: 20px;
    border-radius: 5%;
    color: #fff;
    padding: 5px;
    text-transform: capitalize;
}
.para{
    padding: 30px 0;
}

/*gallery section starts*/
.gallery{
    text-align: center;
    color: black;
}
.gallery div{
    background-color: #fff;
    width: 30%;
    margin: 20px 0;
}
.gallery img{
    width: 100%;
}
.gallery .button{
    width: 50%;
}
.gallery p{
    line-height: 2rem;
    padding: 15px ;
}
/* info section starts*/
.information{
    width: 47%;
    text-align: left;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px ;
}
.left{
    width: 20%;
}
.right{
    width: 78%;
}
.footer{
    background-color: #ff0080;
    width: 100%;
    padding: 20px 0;
}
form .button{
    border: 1px solid #fff;
}
form input , form textarea{
    border-radius: 5px;
    border:0 ;
    width: 90%;
}
form input{
    height:30px;
    
}
footer{
    background-color: black;
    padding: 30px 0;
    text-align: center;
    color: #fff;
}
.social .fa{
    border-radius: 100%;
    border: 2px double #dfdfdf;
    padding: 5px 6px;
    
}
@media only screen and (max-width:800px){
   
    
    ul{
        display: none;
        position: absolute;
        top: 50px;
        background-color: black;
        width: 100%;
    }
    li{
        border-bottom: 1px solid #fff;
        padding: 5px 0;
    }
    #toggle{
        display: block;
    }
    .gallery div{
        width: 90%;
        margin: 20px auto;
    }
    .information{
        width: 90%;
        margin: 20px auto;
    }
}